<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <property name="LOG_HOME" value="./logs" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--日志格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-4level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 每天生成日志文件,文件大小超过指定大小则新生成一个文件，同时将旧文件压缩 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/common-biz.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/common-biz.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>  <!-- 实际中可以设置50MB推荐 -->
            <maxHistory>20</maxHistory>  <!-- 保存10天 -->
            <totalSizeCap>1GB</totalSizeCap>  <!-- 总日志大小 -->
        </rollingPolicy>
        <encoder>
            <pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>
        </encoder>
        <!-- 过滤器，可以过滤掉不符合条件的日志，INFO及以上的日志被处理，其它的拒绝 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="logfile" />
    </root>
</configuration>