<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>发布--微客阁</title>
    <meta name="Keywords" content="个人博客，专注于IT类技术分享+实用小工具分享+网站优化，只做有思想的高价值网站！" />
    <meta name="Description" content="在一个属于自己的地方,记录下自己感兴趣的事,一直坚持走下去" /><!-- 设置缓存2小时，max-age指最大缓存的秒数 -->
    <meta http-equiv="Cache-Control" content="max-age=14400" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/smohan-face.css">
    <link rel="stylesheet" href="/editormd/css/editormd.css" />

    <!--[if lt IE 9]><div><p class="ie9">您的IE浏览器版本过低</p></div><![endif]-->
    <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/smohan.face.js"></script>&nbsp;&nbsp;
    <script src="/js/script.js"></script>
    <script src="/js/ionicons.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/function.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/editormd/editormd.min.js"></script>


    <script type="text/javascript">
        var editorPub;
        $(function() {
            var editor = editormd("editormd", {
                width  : "100%",
                height : "1200",
                emoji : true,
                codeFold : true,
                path   : "/editormd/lib/",
                saveHTMLToTextarea : true,
                lineNumbers     : true,
                mode            : "markdown",
                gotoLine        : true,
                theme           : "CodeMirror",
                imageUpload : true,
                imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/upload-img",
                htmlDecode : true,
                htmlDecode : "style,script,iframe,sub,sup|on*",
            });
            editorPub = editor;
            /*$("#get-html-btn").bind('click', function() {
                var html = editor.getValue();
                $("#content").val(html);
            });*/

        });

        function handleContent() {
            var html = editorPub.getValue();
            $("#content").val(html);
        }

    </script>
</head>

<body>
<header class="header">
    <div class="containe">
        <div id="nav-box" class="nav-bar header-nav right" data-type="index" data-infoid="index">
            <div class="container">
                <h1 class="logo"> <a href="/" title="Weblog"> <img src="/img/logo_5.png" alt="Weblog"> </a> </h1>
                <nav class="nav-bar">
                    <ul class="nav">
                        <li id="nvabar-item-index"><a href="/">首页</a></li>
                        <li id="navbar-category-2"><a href="/articles?type=2">IT技术</a></li>
                        <li id="navbar-category-3"><a href="/articles?type=3">小工具</a></li>
                        <li id="navbar-category-1"><a href="/articles?type=1">好文章</a></li>
<li id="navbar-category-4"><a href="/board">留言板</a></li>
                        <!--<li id="navbar-category-3"><a href="/cygs/">创业故事</a></li>
                        <li id="navbar-category-4"><a href="/cydz/">创业点子</a></li>
                        <li id="navbar-category-7"><a href="/lz/">故事语录</a>
                            <ul class="sub-nav">
                                <li id="navbar-category-7"><a href="/lz/lzyl/">励志语录</a></li>
                                <li id="navbar-category-7"><a href="/lz/lzgs/">励志故事</a></li>
                            </ul>
                        </li>-->
                        <li id="navbar-category-28"><a href="/contact-us">关于我们</a>
                            <ul class="sub-nav">
                                <li id="navbar-category-28"><a href="/contact-us">联系我们</a></li>
                                <li id="navbar-category-28"><a href="/ad">广告合作</a></li>
                                <li id="navbar-category-28"><a href="/contribute">投稿须知</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="mnav">
                        <li id="nvabar-item-index"><a href="/">首页</a></li>
                        <li id="navbar-category-2"><a href="/articles?type=2">IT技术</a></li>
                        <li id="navbar-category-3"><a href="/articles?type=3">小工具</a></li>
                        <li id="navbar-category-1"><a href="/articles?type=1">好文章</a></li>
<li id="navbar-category-4"><a href="/board">留言板</a></li>
                        <!--<li id="navbar-category-3"><a href="/cygs/">创业故事</a></li>
                        <li id="navbar-category-4"><a href="/cydz/">创业点子</a></li>
                        <li id="navbar-category-7"><a href="/lz/">故事语录</a>
                            <ul class="sub-nav">
                                <li id="navbar-category-7"><a href="/lz/lzyl/">励志语录</a></li>
                                <li id="navbar-category-7"><a href="/lz/lzgs/">励志故事</a></li>
                            </ul>
                        </li>-->
                        <li id="navbar-category-28"><a href="/contact-us">关于我们</a>
                            <ul class="sub-nav">
                                <li id="navbar-category-28"><a href="/contact-us">联系我们</a></li>
                                <li id="navbar-category-28"><a href="/ad">广告合作</a></li>
                                <li id="navbar-category-28"><a href="/contribute">投稿须知</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="m-btn" class="m-btn"><i class="fa fa-bars"></i></div>

                <div class="login-info">
                        <span class="login-button">
                            <ul class="nav">
                                <div th:if="${session.user==null}" class="login-button">
                                    <a href="/login" style="color: silver;">登录</a>
                                </div>
                                <li id="navbar-category-29">

                                    <img th:if="${session.user!=null}"  th:src="@{'/show-img/' + ${session.user.headImg}}" style="width: 36px;height: 36px;border-radius: 60px;" />
                                    <ul class="sub-nav" th:if="${session.user!=null}">
                                        <li id="navbar-category-29"><a href="#"><span th:text="${session.user.nickName}" style="overflow: hidden;white-space:nowrap;"></span></a></li>
                                        <li id="navbar-category-29"><a href="/admin/add">发布</a></li>
<li id="navbar-category-29"><a href="/login-out">注销</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </span>

                </div>


            </div>
        </div>

    </div>
</header>

<div style="margin-top: 78px; padding-left: 15px;">
    <form method="post" action="/admin/publish" enctype="multipart/form-data" onsubmit="handleContent()">
        <span>标题: </span><input style="width: 500px;" class="margin-top-bottom-5" id="title" name="title" placeholder="标题" /> <br />
        <span>简介: </span><textarea class="margin-top-bottom-5" id="intro" name="intro" placeholder="简介" style="height: 100px;width: 800px"></textarea><br />
        <span>分类: </span><input class="margin-top-bottom-5" id="category" name="category" placeholder="分类标签"/><br />
        <span>类型: </span>
        <select style="width: 160px;" id="type" name="type" class="margin-top-bottom-5" >
            <option value="2">IT技术</option>
            <option value="1">好文章</option>
            <option value="3">实用小工具</option>
        </select><br />
        <span>是否原创: </span><input class="margin-top-bottom-5" type="checkbox" name="original" value="1" placeholder="是否原创"/> <br />
        <span>是否发布: </span><input class="margin-top-bottom-5" type="checkbox" name="status" value="1" placeholder="是否发布"/> <br />
        <span>设置封面图片: </span><input class="margin-top-bottom-5" style="display: inline;" id="file" name="file" type="file" /><span style="padding: 5px 0 0 0;color: red; font-size: 14px;">文章封面建议图片尺寸宽高：120px * 105px</span><br />
        <textarea id="content" hidden style="display: none;" name="content"></textarea>
        <input class="margin-top-bottom-5" type="submit" value="提交" style="width: 78px;" />
    </form>

</div>

<div style="padding: 5px 0 0 15px;color: red; font-size: 14px;">文章中建议图片尺寸宽高：685px * 240px</div>

<div class="editormd" id="editormd" style="margin-top: 15px;">

    <textarea id="editormd-markdown-doc" class="editormd-markdown-textarea" name="editormd-markdown-doc"></textarea>

    <!-- html textarea 需要开启配置项 saveHTMLToTextarea == true -->
    <textarea class="editormd-html-textarea" name="editormd-html-code"></textarea>
</div>
</body>

</html>