.js_darkmode__0 {
    color: rgba(0, 0, 0, 0.9) ! important;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bg.gif") ! important;*/
    z-index: -9999999;
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
    background-color: #f0f0f0;
}

.required {
    color: red;
}

.div_bg_white {
    background: white;
}

.like {
    width: 25px !important;
    height: 25px !important;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 10px;
}

.circle {
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 60px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    cursor: pointer;
}

.my-header {
    border-bottom: 1px solid white;
    box-shadow: 0px 20px 20px -20px #d86d65;
    background-color: #F0F0F0;
    height: 50px !important;
}

.comment-custom {
    margin-left: 0 !important;
}

.margin-top-bottom-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.article-original {
    font-size: 12px;
    color: #FF3300;
    display: inline-block;
    width: 28px;
    height: 19px;
    background-color: silver;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 6px 6px 8px silver;
    font-family: STKaiti, serif;

}

.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.leave-head-img {
    width: 49px !important;
    height: 49px !important;
}


.box-shadow-img {
    -webkit-box-shadow:0px 3px 3px #c8c8c8;
    -moz-box-shadow:0px 3px 3px #c8c8c8;
    box-shadow:0px 3px 3px #c8c8c8;
    -moz-border-radius-topleft:15px;
    -moz-border-radius-topright:15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.box-shadow-div {
    /*-webkit-box-shadow:2px 2px 2px #c8c8c8;
    -moz-box-shadow:2px 2px 2px #c8c8c8;
    box-shadow:2px 2px 2px #c8c8c8;
    -moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    border-bottom: 1px solid #F0F0F0;

}

body {
    font-family: "宋体";
}

body a {
    text-decoration-line: none;
}

body a:hover {
    color: #f5ab35;
    text-decoration-line: none;
}

.my-content {

}

.article-add {
    padding: 0 2px 0 2px;
    text-decoration-line: none;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
    width: 95px;
    height: 40px;
    background-color: #d86d65;
    border-radius: 25px;
    font-weight: 200;
    text-align: center;
}

.articleComment {
    position: absolute;
    top: 6px;
    right: 0px;
    color: #ea6f5a;
    cursor: pointer;
    width: 65px;
    height: 27px;
    border-radius: 5px;
    background-color: silver;
    text-align: center;
}

.app-category{
    word-break: break-word;
    display: inline-block;
    margin: 0 15px 0 22px;
    border-radius: 5px;
    background-color: white;
    padding: 4px 5px 4px 5px;
    border: 1px solid #ea6f5a;
    line-height: 19px;
    position: relative;
    color: #ea6f5a;
    cursor: pointer;
    text-decoration-line: none;
}

.app-category:hover{
    background-color: #ea6f5a;
    color: white !important;
    text-decoration-line: none;
}

.app-category-head{
    border-radius: 5px;
    background-color: white;
    border-bottom: 1px dashed silver;
    line-height: 35px;
    background-color:white;
    padding: 8px 0 8px 0;
    margin-bottom: 5px;
}

.app-menu {

}

.content-hover {
    background-color:#F8F8F8;
    box-shadow:1px 1px 5px #888888;
    border-radius:8px;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


* {
    margin: 0;
    padding: 0;
}

.swiper {
    width: 9999999px;
    transition: all 1s ease;
}

.swiper-item p {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}


.swiper-point {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.point {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.9);
    margin-right: 5px;
    float: left;
}

.point.active {
    background: #fff;
}

.swiper-left {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.swiper-right {
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.swiper-left img,
.swiper-right img {
    cursor: pointer;
}

.swiper-contione:hover .swiper-left {
    left: 0;
}

.swiper-contione:hover .swiper-right {
    right: 0;
}
