<!doctype html>
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="zh-CN">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <title th:text="${article.title + '--微客阁'}"></title>
    <meta name="Keywords" th:content="@{'微客阁,个人博客,个人网站,技术分享' + ${article.type} + ',' + ${article.category} + ',' + ${article.title}}"/>
    <meta name="Description" th:content="${article.intro}"/>
    <meta http-equiv="Cache-Control" content="max-age=14400"/>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <link rel="stylesheet" href="/editormd/css/editormd.css">
    <link rel="stylesheet" href="/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="/css/share.min.css">
    <link rel="stylesheet" href="/css/comment.css">
    <link rel="stylesheet" type="text/css" href="/css/sinaFaceAndEffec.css">

    <!--[if lt IE 9]><div><p class="ie9">您的IE浏览器版本过低</p></div><![endif]-->
    <script src="/js/jquery-2.2.4.min.js" type="text/javascript"></script>

    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>
    <script src="/editormd/editormd.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/jquery.share.min.js"></script>
    <script src="/js/comment.js"></script>
    <script src="/js/sinaFaceAndEffec.js"></script>

    <style type="text/css"></style>

    <style>
        #bdshare_weixin_qrcode_dialog_qr table {
            width: auto !important;
        }
    </style>
</head>

<body>
    <header class="header">
        <div class="containe">
            <div id="nav-box" class="nav-bar header-nav right" data-type="category" data-infoid="3">
                <div class="container">
                    <h1 class="logo"> <a href="/" title="微客阁"> <img src="/img/logo_5.png" alt="微客阁"> </a> </h1>
                    <nav class="nav-bar">
                        <ul class="nav">
                            <li id="nvabar-item-index"><a href="/">首页</a></li>
                            <li id="navbar-category-2"><a href="/articles?type=2">IT技术</a></li>
                            <li id="navbar-category-1"><a href="/articles?type=1">好文章</a></li>
                            <li id="navbar-category-3"><a href="/board">留言板</a></li>
                            <!--<li id="navbar-category-3"><a href="/cygs/">创业故事</a></li>
                            <li id="navbar-category-4"><a href="/cydz/">创业点子</a></li>
                            <li id="navbar-category-7"><a href="/lz/">故事语录</a>
                                <ul class="sub-nav">
                                    <li id="navbar-category-7"><a href="/lz/lzyl/">励志语录</a></li>
                                    <li id="navbar-category-7"><a href="/lz/lzgs/">励志故事</a></li>
                                </ul>
                            </li>-->
                            <li id="navbar-category-28"><a href="/contact-us">关于我们</a>
                                <ul class="sub-nav">
                                    <li id="navbar-category-28"><a href="/contact-us">联系我们</a></li>
                                    <li id="navbar-category-28"><a href="/ad">广告合作</a></li>
                                    <li id="navbar-category-28"><a href="/contribute">投稿须知</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="mnav">
                            <li id="nvabar-item-index"><a href="/">首页</a></li>
                            <li id="navbar-category-2"><a href="/articles?type=2">IT技术</a></li>
                            <li id="navbar-category-1"><a href="/articles?type=1">好文章</a></li>
                            <li id="navbar-category-3"><a href="/board">留言板</a></li>
                            <!--<li id="navbar-category-3"><a href="/cygs/">创业故事</a></li>
                            <li id="navbar-category-4"><a href="/cydz/">创业点子</a></li>
                            <li id="navbar-category-7"><a href="/lz/">故事语录</a>
                                <ul class="sub-nav">
                                    <li id="navbar-category-7"><a href="/lz/lzyl/">励志语录</a></li>
                                    <li id="navbar-category-7"><a href="/lz/lzgs/">励志故事</a></li>
                                </ul>
                            </li>-->
                            <li id="navbar-category-28"><a href="/contact-us">关于我们</a>
                                <ul class="sub-nav">
                                    <li id="navbar-category-28"><a href="/contact-us">联系我们</a></li>
                                    <li id="navbar-category-28"><a href="/ad">广告合作</a></li>
                                    <li id="navbar-category-28"><a href="/contribute">投稿须知</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div id="m-btn" class="m-btn"><i class="fa fa-bars"></i></div>
                    <div class="login-info">
                        <span th:if="${session.user!=null}" class="login-button">

                            <ul class="nav">

                                <li id="navbar-category-29">

                                    <img th:src="@{'/show-img/' + ${session.user.headImg}}" style="width: 36px;height: 36px;border-radius: 60px;" />
                                    <ul class="sub-nav">
                                        <li id="navbar-category-29"><a href="#"><span th:text="${session.user.nickName}" style="overflow: hidden;white-space:nowrap;"></span></a></li>
                                        <li id="navbar-category-29"><a href="/login-out">注销</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <ul class="mnav">
                                <li id="navbar-category-29">
                                    <li id="navbar-category-29">

                                    <img th:src="@{'/show-img/' + ${session.user.headImg}}" style="width: 36px;height: 36px;border-radius: 60px;" />
                                    <ul class="sub-nav">
                                        <li id="navbar-category-29"><a href="#"><span th:text="${session.user.nickName}" style="overflow: hidden;white-space:nowrap;"></span></a></li>
                                        <li id="navbar-category-29"><a href="/login-out">注销</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </span>
                        <div th:if="${session.user==null}" class="login-button">
                            <a href="/login" style="color: silver;">登录</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumb"> <i class="fa fa-home"></i><a href="/">首页</a>&nbsp;&gt;&nbsp;<a href="/articles?type=2">IT技术</a><i class="fa fa-angle-right"></i>文章正文 </div>
    <main class="container">
        <div class="content-wrap">
            <div class="article" id="article">
                <div class="article-container">
                    <header class="article-header">
                        <h1 class="article-title" th:text="${article.title}"></h1>
                        <div class="article-meta"> <span><i class="fa fa-user fa-fw"></i><span th:text="${article.author}"></span></span><span><i class="fa fa-clock-o fa-fw"></i><span th:text="${article.createAtStr}"></span></span><span><i class="fa fa-eye fa-fw"></i>
                            <span th:text="${article.readCount}"></span>浏览</span></div>
                    </header>
                    <!--<div class="pcd_ad">
                        <script src="/js/thea10.js"></script>
                    </div>-->

                    <article class="article-content">
                        <!--<p th:text="${article.content}"></p>-->
                        <div id="question-view">
                            <textarea style="display:none;" th:text="${article.content}"></textarea>
                        </div>
                    </article>

                    <div class="pcd_ad" style="margin-top:10px">
                        <script src="/js/thea10.js"></script>
                    </div>
                    <div class="mbd_ad" style="margin-top:10px">
                        <script src="/js/thea10.js"></script>
                    </div>

                    <div class="article_contact">
                        <div class="tag_boxer">
                            <div class="tag_content"> <i class="fa fa-tags"></i> 标签：</div>
                            <span></span>
                        </div>
                        <div class="contact_detail">
                            <a th:href="@{'/articles?type=2&category=' + ${article.category}}">
                                <span th:text="${article.category}"></span>
                            </a>

                            <div class="bdsharebuttonbox">
                                <div class="social-share" data-sites="wechat,qq,weibo,qzone"></div>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>

                    <div class="authorbio">
                        <div class="author_info"> <img alt="管理员" src="/img/avatar.jpeg" class="avatar avatar-40 photo" width="40" height="40">
                            <div class="author_detail">
                                <div class="author-name"><span class="author_font">街角下的蚂蚁</span><span class="author_t">管理员</span></div>
                                <p class="author_bref">个人博客，专注于IT类技术分享+实用小工具分享+网站优化，只做有思想的高价值网站！</p>
                            </div>
                        </div>
                        <ul class="spostinfo">
                            <li class="author_experience"></li>
                            <li th:if="${article.original == 1}"><strong>版权声明：</strong>本站原创文章，于<span th:text="${article.createdAt}"></span>，由《<a href="/"><span th:text="${article.author}"></span></a>》发表。</li>
                            <li th:if="${article.original == 0}"><strong>版权声明：</strong>图文来源于网络，版权属于原作者，如有侵权，请联系删除！</li>
                            <li><strong>转载请注明出处：</strong>微客阁(Weblog)，如有疑问，请联系我们</li>
                        </ul>
                    </div>
                    <div class="post-navigation">
                        <div class="post-previous"> <span>上一篇:</span><a th:href="@{'/article/show/' + ${preArticle != null ? preArticle.id : article.id}}"><span th:text="${preArticle != null ? preArticle.title : ''}"></span></a> </div>
                        <div class="post-next"> <span>下一篇:</span><a th:href="@{'/article/show/' + ${afterArticle != null ? afterArticle.id : article.id}}"><span th:text="${afterArticle != null ? afterArticle.title : ''}"></span></a> </div>
                    </div>
                    <div class="relates">
                        <div class="title">
                            <h3>相关推荐</h3>
                        </div>
                        <div id="related-img">
                            <div class="r4" th:each="item,itemStart : ${related}">
                                <div class="related-site">
                                    <figure class="related-site-img"> <a th:href="@{'/article/show/' + ${item.id}}"> <img src="/img/278d462e5f473b21361eb865b6383412.jpeg" alt=""> </a> </figure>
                                    <div class="related-title"> <a th:href="@{'/article/show/' + ${item.id}}" title=""><span th:text="${item.title}"></span></a> </div>
                                </div>
                            </div>

                            <div class="clear"> </div>
                        </div>
                    </div>
                    <div id="comment" class="post-comment">
                        <p id="comments-title" class="c-title"><span>发表评论（共有 <span style="color: #f90;" id="infocommentnumarea" th:text="${articleLeavePage.totalNum}"></span> 条评论）</span> <span class="comment-num"> </span></p>
                        <link href="/css/pl.css" rel="stylesheet">
                        <div class="showpage" id="plpost">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" id="plpost">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%" border="0" cellspacing="10" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div id="content">
                                                                <div class="wrap">
                                                                    <div class="comment">
                                                                        <div class="head-face">
                                                                            <img src="/img/1.jpeg">
                                                                            <p>匿名</p>
                                                                        </div>
                                                                        <div class="content">
                                                                            <div class="cont-box">
                                                                                <textarea class="comment_area" placeholder="请遵守互联网相关规定，不要发布广告和违法内容…"></textarea>
                                                                            </div>
                                                                            <div class="tools-box">
                                                                                <div class="operator-box-btn"><span class="face-icon">☺</span><!--<span class="img-icon">▧</span>--></div>
                                                                                <div class="submit-btn"><input type="button" th:onclick="@{'leave(this,\'' + ${article.id} + '\',\'\',\'\');'}" value="提交评论"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="info-show">
                                                                        <ul class="first_show">
                                                                            <li th:each="item,itemStart : ${articleLeavePage.items}">
                                                                                <div class="head-face">
                                                                                    <img th:src="${item.parent.headImg}==null ? '/img/1.jpeg' : @{'/show-img/' + ${item.parent.headImg}}" />
                                                                                </div>
                                                                                <div class="reply-cont">
                                                                                    <p class="username">[[${item.parent.nickName}]]</p>
                                                                                    <p class="comment-body comment-face">[[${item.parent.msg}]]</p>
                                                                                    <p class="comment-footer"><span>[[${item.parent.createAtStr}]]</span>　<a onclick="showReply(this)">回复</a></p>

                                                                                    <div class="content replay-window">
                                                                                        <div class="cont-box">
                                                                                            <textarea class="comment_area" placeholder="请遵守互联网相关规定，不要发布广告和违法内容…"></textarea>
                                                                                        </div>
                                                                                        <div class="tools-box">
                                                                                            <div class="operator-box-btn"><span class="face-icon">☺</span><!--<span class="img-icon">▧</span>--></div>
                                                                                            <div class="submit-btn"><input type="button" th:onclick="@{'leave(this,\'' + ${article.id} + '\',\'' + ${item.parent.id} + '\',\'' + ${item.parent.nickName} + '\', \'first\');'}" value="回复"></div>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="reply-second">
                                                                                        <ul class="second_show">
                                                                                            <li th:each="item2,itemStart2 : ${item.children}">
                                                                                                <span class="username" style="display: inline;">[[${item2.nickName}]]：@[[${item2.replayNickName}]]</span>
                                                                                                <span class="comment-body comment-face">[[${item2.msg}]]</span>
                                                                                                <p class="comment-footer"><span>[[${item2.createAtStr}]]</span>　<a onclick="showReply(this)">回复</a></p>
                                                                                                <div class="content replay-window">
                                                                                                    <div class="cont-box">
                                                                                                        <textarea class="comment_area" placeholder="请遵守互联网相关规定，不要发布广告和违法内容…"></textarea>
                                                                                                    </div>
                                                                                                    <div class="tools-box">
                                                                                                        <div class="operator-box-btn"><span class="face-icon">☺</span><!--<span class="img-icon">▧</span>--></div>
                                                                                                        <div class="submit-btn"><input type="button" th:onclick="@{'leave(this,\'' + ${article.id} + '\',\'' + ${item.parent.id} + '\',\'' + ${item2.nickName} + '\', \'second\');'}" value="回复"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <article class="post" style="padding: 6px; text-align: center;cursor: pointer;">
                                                                <header>
                                                                    <input id="hasMoreIndex" th:value="${articleLeavePage.currentPage}" type="hidden"/>
                                                                    <input id="articleId" th:value="${article.id}" type="hidden"/>

                                                                    <div class="hasMore" onclick="hasLeaveMsgMore()" style="font-weight: 500;">更 多</div>
                                                                </header>
                                                                <p class="post-text"></p>
                                                            </article>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <aside class="sidebar" id="sidebar">
            <dl class="function" id="about_intro">
                <dt style="display:none;"></dt>
                <dd class="function_c">
                    <div>
                        <div class="widget widget-tie social" id="a">
                            <div class="about_img">
                                <div class="about_bg"> <img src="/img/userbg.png"> </div>
                                <div class="about_avatar"><img th:src="@{'/show-img/' + ${user.headImg}}"></div>
                            </div>
                            <div class="about_name"> [[${user.nickName}]] </div>
                            <div class="ul ul_distance">
                                <p>发布文章：<span style="color: #f90;">[[${user.articleTotal}]]</span>篇</p>

                            </div>
                            <p class="about_tag">[[${user.intro}]]</p>
                        </div>
                    </div>
                </dd>
            </dl>

            <!--<dl class="function" id="aside_ad">
                <script src="/js/thea1.js"></script>
            </dl>-->
            <dl class="function" id="aside_new">
                <dt class="function_t">热门文章</dt>
                <dd class="function_c">
                    <ul>
                        <li th:each="item,itemStart : ${popular}">
                            <div class="previous-one-img" th:if="${not #strings.isEmpty(item.imgPath)}">
                                <a target="_blank" th:href="@{'/article/show/' + ${item.id}}">
                                    <img th:src="@{'/show-img/' + ${item.imgPath}}" class="" alt=""></a>
                            </div>
                            <div th:class="${not #strings.isEmpty(item.imgPath)} ? 'previous-recent-title' : 'previous-recent-title margin_left_0'">
                                <h4 class="title"><a target="_blank" th:href="@{'/article/show/' + ${item.id}}" th:text="${item.title}"></a></h4>
                                <span class="info"><i class="fa fa-calendar"></i> <span th:text="${item.createAtStr}"></span> </span>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="function" id="aside_ad">
                <script src="/js/thea1.js"></script>
            </dl>
            <dl class="function" id="divTags">
                <dt class="function_t">标签列表</dt>
                <dd class="function_c">
                    <ul th:each="item,itemStart : ${category}">
                        <li><a th:href="@{'/articles?type=2&category=' + ${item.category}}"><span th:text="${item.category}"></span><span class="tag-count" th:text="${'(' + item.count + ')'}"></span></a></li>
                    </ul>
                </dd>
            </dl>
            <dl class="function" id="aside_ad">
                <script src="/js/thea1.js"></script>
            </dl>
        </aside>
    </main>
    <footer class="footer">
        <div class="footer-ju">
            <p> <a href="https://www.weblog.icu/contact-us" target="_blank">关于</a>|
                <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=779396604@qq.com" target="_blank">写信给我</a>|
                <a href="#" target="_blank">友链申请</a>|
                <a href="https://tool.chinaz.com/" target="_blank">站长之家</a>|
                <a href="https://ziyuan.baidu.com/property/index?site=https://www.weblog.icu/" target="_blank">百度统计</a>|
                <a href="#" target="_blank">在线人数：[[${session.online}]]</a><br>
            </p>
            <p>
                <span style="color:#939393;">© 2021 版权所有 ICP证：<a href="http://beian.miit.gov.cn/" target="_blank">蜀ICP备2021022347号-1</a></span>
                <a target="_blank" class="my-header-hidden-w"
                   href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51018002000062"
                   style="text-decoration:none;height:15px;line-height:15px;margin-left: 15px;"><img
                        src="/img/beian.png"/><span
                        style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">川公网安备 51018002000062号</span></a>
            </p>
            <div>
                <table style="margin: auto;" width="20%" border="0" cellpadding="3" cellspacing="1" bgcolor="#FFFFFF">
                    <tbody>
                    <tr>
                        <td>
                            <p><img width="85px" height="85px" src="/img/qrcode_gzh.jpg" /></p>
                            <p>微信公众号</p>
                        </td>
                        <td>
                            <p><img width="85px" height="85px" src="/img/qrcode_xcx.jpg" /></p>
                            <p>微信小程序</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </footer>
    <div id="mask" style="display: none;"></div>
    <script src="/js/function.js"></script>
    <script src="/js/navigation.js"></script>
    <script src="/js/leaveMsg.js"></script>
    <div id="backtoTop" data-action="gototop">
        <canvas id="backtoTopCanvas" width="45" height="45"></canvas>
        <div class="per"> </div>
    </div>

    <!--[if lt IE 9]><script src="/skin/ecms218/js/html5shiv.min.js"></script><![endif]-->

    <script>

        $(function () {

            let mkEditor = editormd.markdownToHTML("question-view", {
                //htmlDecode      : "style,script,iframe",  // you can filter tags decode
                htmlDecode: true,
                emoji: true,
                taskList: true,
                theme: "dark",
                previewTheme: "dark",
                editorTheme: "pastel-on-dark",
                codeFold: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
                lineNumbers: true,
                mode: "markdown",
                gotoLine: true
            });
        });


    </script>

    <script src="/js/dashang.js"></script>
    <script>
        new tctip({
            top: '20%',
            button: {
                id: 9,
                type: 'dashang',
            },
            list: [
                {
                    type: 'alipay',
                    qrImg: '/img/zfb_pay.jpg'
                }, {
                    type: 'wechat',
                    qrImg: '/img/wx_pay.jpg'
                }, {
                    type: 'bitcoin',
                    qrImg: '/img/bitcoin.jpg'
                }
            ]
        }).init()
    </script>
</body>
</html>