<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html>

<head>
    <meta charset="utf-8">
    <meta charset="utf-8">

    <meta name="viewport" content="width-device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="sie-edge">
    <title>登录~注册--微客阁</title>
    <meta name="Keywords" content="个人博客，专注于IT类技术分享+实用小工具分享+网站优化，只做有思想的高价值网站！" />
    <meta name="Description" content="在一个属于自己的地方,记录下自己感兴趣的事,一直坚持走下去" /><!-- 设置缓存2小时，max-age指最大缓存的秒数 -->
    <meta http-equiv="Cache-Control" content="max-age=14400" />

    <link rel="stylesheet" href="/css/loginStyle.css">
    <link rel="stylesheet" href="/css/loginIcon.css">

    <script src="/js/login.js"></script>
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" charSet="utf-8"
            src="//connect.qq.com/qc_jssdk.js"
            data-appid="101970455"
            data-redirecturi="https://www.weblog.icu/qback"></script>

</head>

<body>

    <div id="wrapper">
        <div class="aw-login-box">
            <div class="box-bg-ys"></div>
            <div class="mod-body clearfix">
                <div class="content pull-left">
                    <h1 class="logo"><a href="/"></a></h1>
                    <form action="/login" method="post" onsubmit="return checkLoginParam();">
                        <input type="hidden" name="return_url" value="0">
                        <ul>
                            <li>
                                <input type="text" id="userName" class="form-control" placeholder="邮箱" name="userName">
                            </li>
                            <li>
                                <input type="password" id="passWord" class="form-control" placeholder="密码" name="passWord">
                            </li>
                            <li>
                                <input style="width: 65%;text-align: left;display: inline;" class="form-control" type="text" id="code" name="code" aria-required="true"  placeholder="验证码">
                                <img src="/get-verify-code" class="verify-code-img" name="verifyCode" aria-required="true" onclick="this.src=this.src+'?'" />
                                <input type="hidden" name="uri" th:value="${uri}" style="display: none;"/>
                            </li>

                            <li class="last">
                                <button class="pull-right btn btn-large btn-primary">登录</button>
                                <label>
                                    <input type="checkbox" value="1" name="net_auto_login">
                                    记住我 </label>
                                &nbsp;&nbsp;| <a href="javascript:;">&nbsp;&nbsp;忘记密码</a>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="side-bar pull-left">
                    <h3>第三方账号登录</h3>
                    <!--<a href="javascript:;" class="btn btn-block btn-weibo"><i class="icon icon-weibo"></i> 新浪微博登录</a>-->
                    <a onclick="QClogin()" class="btn btn-block btn-qq"> <i class="icon icon-qq"></i> QQ登录</a>
                </div>
            </div>
            <div class="mod-footer">
                <span>还没有账号?</span>&nbsp;&nbsp;
                <a href="javascript:;">第三方登录注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                <a href="/">游客访问</a>&nbsp;&nbsp;
            </div>
        </div>
    </div>
    <script>
        function QClogin() {
            QC.Login.signOut();
            let windowObj = QC.Login.showPopup({
                appId:"101970455",
                redirectURI:"https://www.weblog.icu/qback"
            });
            let flag = true;
            setInterval(function () {
                if(windowObj.closed && flag) {
                    if(QC.Login.check()) {
                        flag = false;
                        let qcOpenId;
                        let qcAccessToken;
                        QC.Login.getMe(function(openId, accessToken){
                            console.log("opendId = " + openId + ", accessToken = " + accessToken);
                            qcOpenId = openId;
                            qcAccessToken = accessToken;

                            let call = false;
                            QC.api("get_user_info", {
                                "access_token": qcAccessToken,
                                "oauth_consumer_key" : "101970455",
                                "openid" : qcOpenId}, "json", "GET")
                                .success(function (data){
                                    if (call) {
                                        return;
                                    }
                                    console.log("success,获取用户信息成功：" + JSON.stringify(data))

                                    let paramData = {
                                        "id": qcOpenId,
                                        "nickName": data.data.nickname,
                                        "sex": data.data.gender,
                                        "birth": data.data.year,
                                        "city": data.data.city,
                                        "headImg": data.data.figureurl_qq_2
                                    }
                                    $.ajax({
                                        type: "POST",
                                        dataType: "json",
                                        url: "/qback-login",
                                        data: JSON.stringify(paramData),
                                        contentType: "application/json;charset=utf-8",
                                        success: function (data) {
                                            if (data.success) {

                                                window.location.reload();
                                            }
                                        }
                                    })
                                    call = true;
                                }).complete(function (data) {
                                if (call) {
                                    return;
                                }
                                console.log("complete,获取用户信息成功：" + JSON.stringify(data))

                                let paramData = {
                                    "id": qcOpenId,
                                    "nickName": data.data.nickname,
                                    "userName": data.data.nickname,
                                    "sex": data.data.gender,
                                    "birth": data.data.year,
                                    "city": data.data.city,
                                    "headImg": data.data.figureurl_qq_2
                                }
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/qback-login",
                                    data: JSON.stringify(paramData),
                                    contentType: "application/json;charset=utf-8",
                                    success: function (data) {
                                        if (data.success) {

                                            window.location.reload();
                                        }
                                    }
                                })
                                call = true;
                            }).error(function (data) {
                                console.log("错误信息：" + JSON.stringify(data))
                            });
                        });
                    }
                }
            }, 200)

        }

    </script>
</body>

</html>