<!doctype html>
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">

<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width-device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="sie-edge">
	<title>登录~注册--微客阁</title>
	<meta name="Keywords" content="个人博客，专注于IT类技术分享+实用小工具分享+网站优化，只做有思想的高价值网站！" />
	<meta name="Description" content="在一个属于自己的地方,记录下自己感兴趣的事,一直坚持走下去" /><!-- 设置缓存2小时，max-age指最大缓存的秒数 -->
	<meta http-equiv="Cache-Control" content="max-age=14400" />

	<script type="text/javascript"
			src="//connect.qq.com/qc_jssdk.js" charset="utf-8" data-callback="true"></script>

	</script>

</head>

<body>

	<div style="margin: auto;text-align: center;vertical-align: middle;">
		<img src="/img/loading_2.gif">
	</div>
</body>

</html>